@media screen and (max-height: 450px) {

}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #faebd7;
    font-family: 'Lato', sans-serif;
}


/* Phone Div */
.phoneDiv {
    width: 100%;
    height: 89%;
    display: block;
    margin: 0px auto;
}

/* actionBar */
.actionBar {
    width: 100%;
    height: 19vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.actionBar-button-image {
    width: 30vw;
    height: 30vw;
    bottom: 0px;
}

.actionBar-button-image-right {
    width: 18vw;
    height: 18vw;
    margin-top: 10%;
    margin-right: 5%;
}

/* emojiBar */
.emojiBar-button-image {
    display: block;
    position: fixed;
    bottom: -8vw;
    left: 28vw;
    width: 40vw;
    height: 40vw;
}


/* navBarToggle */
.navBar-toggle {
    z-index: 100;
    position: fixed;
    display: block;
    top: 1.2%;
    left: -1vw;
    outline: 0;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 10vw;
    transition: 0.5s;
}


/* navBar */
.navBar {
    z-index: 5;
    position: fixed;
    display: block;
    width: 60vw;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ffbf17;
    transition: 0.5s;
    /*background: linear-gradient(to right, rgba(192, 77, 249, 0.3), rgba(255, 0, 0, 0));*/
}

.navBar-title {
    font-weight: bold;
    font-size: 12vw;
    background-color: transparent;
    padding: 2vw;
    text-align: center;
}

.navBar-post {
    width: 100%;
    border: none;
}

.navBar-button {
    font-weight: bold;
    font-size: 7vw;
    background-color: transparent;
    padding: 2vw 10vw;
    text-align: left;
    border: none;
    transition: 0.3s;
}

.navBar-button:hover {
    color: #000bff;
    margin-left: 2px;
    border: none;
}

.navBar-button:focus {
    text-decoration: none;
    outline: none;
}

.navBar-hideBar {
    z-index: 0;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-color: #000;
    opacity: 0.3;
}


/* Overlay */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay img {
    height: 30vw;
    width: 30vw;
}


/* Video */
#container {
    margin: 0px auto;
}

#videoElement {
    z-index: -1;
    position: fixed;
    display: block;
    top: 0;
    left: -55%;
    width: 210%;
    height: auto;

}


/* Video Spacer */
.videoSpacer {
    display: block;
    top: 0;
    height: 88vh;
}