* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #faebd7;
}

#phoneFrame {
    width: 100px;
    height: 100px;
    border: 0px solid;
    scrolling: false;
}

.phoneDiv {
    width: 0px;
    display: block;
}

video {
    filter: hue-rotate(180deg) saturate(1000%);
    -moz-filter: hue-rotate(180deg) saturate(1000%);
    -webkit-filter: hue-rotate(180deg) saturate(5000%);
    videoHeight: 100;
    videoWidth: 100;
}